// Bugless
// An Open Source Bug Tracker.
// ---
// Theme: Brown
// ---
// License: GNU General Public License


// Mixins ================================================
border-radius()
	border-radius: arguments
	-moz-border-radius: arguments
	-o-border-radious: arguments
	-webkit-border-radius: arguments
	-ms-border-radius: arguments

box-sizing()
	box-sizing: border-box
	-moz-box-sizing: border-box
	-o-box-sizing: border-box
	-webkit-box-sizing: border-box
	-ms-box-sizing: border-box

box-shadow()
	box-shadow: arguments
	-moz-box-shadow: arguments
	-o-box-shadow: arguments
	-webkit-box-shadow: arguments
	-ms-box-shadow: arguments

text-shadow()
	text-shadow: arguments
	-moz-text-shadow: arguments
	-o-text-shadow: arguments
	-webkit-text-shadow: arguments
	-ms-text-shadow: arguments


// Variables  ============================================
padding_main = 20px
font_family  = arial, helvetica, sans-serif

width_full        = 960px
width_sidebar     = 220px
width_has_sidebar = 720px

c_top_line          = #70c3a8
c_link              = #006699
c_link_outside      = #8e7d74
c_selection_outside = #28201c
c_input_background  = #f5f5f5

fs_big   = 24px
fs_small = 12px


// Global Elements =======================================
*
	padding: 0
	margin: 0

body
	background: url(body_bg.png) repeat left top #271d18
	font-size: 14px
	font-family: font_family
	line-height: 1em
	color: #000

body > .about
	position: absolute
	left: 0px
	width: 100%
	text-align: center
	font-size: 12px
	z-index: -1
	color: rgba(255, 230, 200, 0.3)
	text-shadow(0pt 1px 0pt rgba(0, 0, 0, 0.5))
	bottom: 0px
	padding-bottom: 10px
	padding-top: 10px
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.1)
	//box-shadow(0pt 2px 2px rgba(0, 0, 0, 0.3) inset\, 0pt -1px 0pt rgba(255, 255, 255, 0.1))

a
	color: c_link
	&:hover
		background-color: c_link
		color: #fff
		text-decoration: none
		border-radius(2px)

.sidebar a
a.link_outside
	color: c_link_outside
	text-decoration: none
	&:hover
		background: transparent

.left
	float: left
.right
	float: right
.center
	margin: 0 auto
.faded
	color: #8c8c8c
.dark
	color: #000
.m_top
	margin-top: padding_main
.p_top
	padding-top: padding_main
.m_bottom
	margin-bottom: padding_main
.p_bottom
	padding-bottom: padding_main
.hide
	display: none

.construction
	padding-bottom: 3px
	background-image: url(line_construction.png)
	background-position: left bottom
	background-repeat: repeat-x

small
	font-size: 12px
	small
		font-size: 10px
button
	cursor: pointer

h1
	float: left
	font-size: 24px
	a
		color: #fff
		text-decoration: none
		&:hover
			background: transparent

h2
	font-size: 24px
	margin-bottom: 4px

body.js
	#messages
		display: none
		.mItem
			cursor: pointer
	.js_hide
		display: none

#messages
	position: absolute
	z-index: 10
	top: padding_main
	right: padding_main
	color: white
	.mItem
		padding: 10px
		border-radius(4px)
		margin-bottom: 4px
		text-shadow(0 1px 0px rgba(0, 0, 0, 0.2))
		&#tERR
			background-color: #C6004A
		&#tWAR
			background-color: #DE6342
		&#tINF
			background-color: #0063A5
		&#tOK
			background-color: #008442
		&:hover
			opacity: 0.8
	.mIco
		display: none
	.mMsg > div
		padding-bottom: 4px
		&:last-child
			padding-bottom: 0

#master
	width: 100%
	float: left
	clear: both
	background: url(header_bg.png) repeat-x left top

#bucket
	width: width_full
	margin: 10px auto
	padding: 10px 0

#navigation_top
	width: 100%
	clear: both
	float: left
	margin: 5px 0 20px
	color: c_link_outside
	.left a
		margin-left: 10px
		&:first-child
			margin-left: 0
	.right a
		margin-right: 10px
		&:last-child
			margin-right: 0

#page
	width: width_full
	margin-left: -20px
	padding: 20px
	float: left
	background-color: rgba(255,240,210,0.04)
	border-radius(4px)
	box-shadow(inset 1px 1px 0 rgba(255,240,210,0.08)\, 0 0 4px rgba(0,0,0,0.4))

#navigation_main 
	.left
		width: width_has_sidebar
		background-color: rgba(0,0,0,0.2)
		box-shadow(0 0 1px rgba(255,255,255,0.25)\, inset 1px 1px 2px rgba(0,0,0,0.2))
		border-radius(4px)
		float: left
		margin-bottom: padding_main
		a
			float: left
			padding: 8px 10px
			margin-right: 10px
			&.active
				color: #fff
				background-color: rgba(0,0,0,0.6)
				//border-radius(4px)
				&:first-child
					border-radius(4px 0 0 4px)
	.right
		width: width_sidebar
		position: relative
		input
			padding: 7px 7px 6px 7px
			width: 100%
			box-sizing()
		button
			position: absolute
			right: 10px
			top: 6px
			background: url(search.png) no-repeat center transparent
			width: 20px
			height: 20px
			border: none
			box-shadow: none
			padding: 0
			span
				display: none

.sidebar
	width: width_sidebar
	float: right
	color: white
	h3
		font-size: 14px
		font-weight: bold
		margin-bottom: 10px
	.open_select
		list-style: none
		float: left
		clear: both
		width: 100%
		li
			float: left
			width: 100%
			margin-bottom: 2px
			&:last-child
				margin-bottom: 0px
		a
			width: width_sidebar - 40
			float: left
			display: block
			clear: both
			padding: 5px 10px
			margin-left: -10px
			.color_bullet
				font-size: 28px
				margin-left: -12px
				float: left
			small
				float: right
				font-size: 10px
		.selected a
			background-color: c_top_line
			border-radius(4px)
			color: c_selection_outside
	.button
		&.huge
			text-transform: uppercase
			width: 100%
			padding: 10px 0
			text-align: center
			font-size: 20px
			font-weight: bold
			line-height: 1em
			font-family: 'arial black', Gadget, sans-serif
			text-shadow(0 0 4px rgba(255,255,255,0.3)\, inset 1px 1px 1px 1px black)
			border: none
		&.color
			color: #18382d
			background: url(button_color_bg.png) repeat-x left bottom #70c3a8
			box-shadow(0 0 2px rgba(0,0,0,0.75)\, inset 1px 1px 1px white\, inset 0 0 4px rgba(0,0,0,0.2))
			&:active
				box-shadow(0 0 2px rgba(0,0,0,0.75)\, inset -1px -1px 1px white\, inset 0 0 4px rgba(0,0,0,0.2))
	.box
		background-color: rgba(0,0,0,0.2)
		box-shadow(0 0 1px rgba(255,255,255,0.25)\, inset 1px 1px 2px rgba(0,0,0,0.2))
		margin-bottom: padding_main
		&:last-child
			margin-bottom: 0

.page
	float: left
	width: width_full
	&.has_sidebar
		width: width_has_sidebar

.group
	margin-bottom: padding_main
	width: 100%
	&:last-child
		margin-bottom: 0

.box
	position: relative
	padding: padding_main
	border-radius(4px)
	box-shadow(0 0 4px #000)
	background-color: #fff
	overflow: hidden
	.c_ico
		position: absolute
		right: 10px
		top: 10px
		display: block
		width: 16px
		height: 16px
		background-position: center
		background-repeat: no-repeat
		&.pointer_r
			background-image: url(box_ico_pointer_r.png)
	&.construction
		padding-bottom: padding_main + 3
	&.wide
		width: 680px
	&.full
		width: width_full - 40
	&.half
		width: 310px

// Form Styled ===========================================
form.styled
	float: left
	width: 100%
	.field
		float: left
		width: 100%
		margin-bottom: padding_main
		&:last-child
			margin-bottom: 0
		&.checkbox
			label
				width: auto
				display: inline
				cursor: pointer
			input
				vertical-align: bottom
				cursor: pointer
	fieldset
		float: left
		width: 100%
		display: block
		border: none
		border-top: 1px solid c_input_background
		border-bottom: 1px solid c_input_background
		margin-bottom: padding_main
		padding: padding_main 0
		legend
			padding-right: 5px
	label
		width: 100%
		padding-bottom: 4px
		display: block
	select,
	input[type="text"],
	input[type="password"],
	textarea
		width: 100%
		padding: 4px
		border: 1px solid #8b8b8b
		border-radius(4px)
		box-sizing()
		box-shadow(0 0 1px 1px #fff inset\, 0px 0px 3px rgba(0, 0, 0, 0.3))
		background: url(input_bg.png) repeat-x left top c_input_background
		font-family: font_family
		&.small
			font-size: fs_small
		&.big
			font-size: fs_big
		&.half
			width: 48%
		&:focus
			border-color: c_link
			box-shadow(0 0 1px 1px #fff inset\, 0px 0px 3px c_link)
			outline: none
		&:disabled
			border-color: #bbb
			box-shadow: none
			background-image: none
			background-color: #ccc
	&.flat
		select,
		input[type="text"],
		input[type="password"],
		textarea
			border: none
			box-shadow(none)
			background: c_input_background

form.outside
	input
		background-color: rgba(0,0,0,0.2)
		box-shadow(0 0 1px rgba(255,255,255,0.25)\, inset 1px 1px 2px rgba(0,0,0,0.2))
		border-radius(4px)
		border: none
		padding: 7px
		color: c_link_outside

textarea
	&.resize_none
		resize: none
	&.resize_horizontal
		resize: horizontal
	&.resize_vertical
		resize: vertical


button
a.button
	font-size: 14px
	//font-weight: bold
	background: url(button_bg.png) repeat-x left bottom #e7e7e7
	border: none
	padding: 6px 16px
	text-shadow(0 0 1px #fff)
	border-radius(4px)
	box-shadow(0 0 0px 1px rgba(255,255,255,0.5) inset)
	border-bottom: 1px solid #898989
	border-right: 1px solid #898989
	display: inline-block
	color: #000
	text-decoration: none
	&:hover
		background: url(button_bg.png) repeat-x left bottom #e7e7e7
	&.plain
		background: #e7e7e7
		border: none
		font-weight: normal
		box-shadow(none)
		border-bottom: 1px solid #e7e7e7
		border-right: 1px solid #e7e7e7
	&:active
		color: #000
		border: none
		border-top: 1px solid #898989
		border-left: 1px solid #898989
		background: url(input_bg.png) repeat-x left top c_input_background
		outline: none
a.button
	padding: 9px 16px 8px 16px


// Specific ==============================================
#login
#forgot_password
#register
#profile_personal
#profile_login
#profile_edit_login
	.field
		&.cancel
		&.forgot_password
			margin-bottom: 0
			float: left
			width: 58%
		&.button
			float: right
			width: 40%
			button
				float: right

#profile_login
	margin-left: padding_main

#not_allowed
#generic_message
	p.message
		margin-top: padding_main
		float: left
		width: 100%
	p.buttons
		margin-top: padding_main
		float: left
		width: 100%

#error_404
#not_allowed
	h2
		border-bottom: 1px solid #ccc
		padding-bottom: padding_main
		margin-bottom: 0
	h2
	small
	p
		text-align: center
		width: 100%
		display: block

#error_404
	padding-top: 90px
	background: url(404_bug.gif) no-repeat center 20px  #fff
	h2
		padding-bottom: 0
		border-bottom: none
		margin-bottom: 4px
		margin-top: padding_main
		border-top: 1px solid #ccc
		padding-top: padding_main
	p
		margin-top: padding_main