#cdebugOverlay {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.9;
	background: #000;
	display: none;
	z-index: 90;
}

#cdebugToggle,
#cdebugPanel {
	font-family: sans-serif;
}

#cdebugToggle {
    background-color: white;
    border-radius: 4px 0 0 0;
    bottom: 0px;
	right: 0px;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 10px;
    position: fixed;
    text-decoration: none;
	height: 20px;
	line-height: 20px;
	z-index: 92;
}

.cdebugToggleTag {
    border-radius: 6px 6px 6px 6px;
    font-size: 10px;
    font-weight: normal;
    padding: 1px 4px;
}

.cdebugToggleTag.cdtttError { background-color: #F66; }
.cdebugToggleTag.cdtttWarning { background-color: #FB4; }

#cdebugPanel {
    position: fixed;
    width: 800px;
    background: #222;
	color: #fff;
    right: -750px;
    bottom: 0px;
	display: none;
	border-radius: 4px 0 0 0;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	z-index: 91;
}

#cdebugPanel .navigation {
	width: 100%;
	background: #fff;
	padding: 4px 0;
	line-height: 20px;
}

#cdebugPanel .navigation a {
    color: #000000;
    padding: 6px 10px;
    text-decoration: none;
}

#cdebugPanel .navigation a:hover {
	background-color: transparent;
}

#cdebugPanel .navigation a.selected {
	background-color: #222222;
	border-radius: 4px 4px 0 0;
	color: white;
	font-weight: bold;
}

#cdebugPanel div.content {
	display: none;
	overflow: auto;
	width: 100%;
	height: 97%;
}

#cdebugPanel div.content.log {
	display: block;
}

#cdebugPanel div.content .spacer {
	padding: 10px;
}
