*{padding:0;margin:0}
body{background:url("body_bg.png") repeat left top #271d18;font-size:14px;font-family:arial,helvetica,sans-serif;line-height:1.2em;color:#000}
a{color:#069;}
a:hover{background-color:#069;color:#fff;text-decoration:none}
.left{float:left}
.right{float:right}
.center{margin:0 auto}
.faded{color:#8c8c8c}
.m_top{margin-top:20px}
.p_top{padding-top:20px}
.m_bottom{margin-bottom:20px}
.p_bottom{padding-bottom:20px}
small{font-size:12px;}
small small{font-size:10px}
button{cursor:pointer}
h2{font-size:24px}
#master{width:100%;float:left;clear:both;background:url("header_bg.png") repeat-x left top}
.box{padding:20px;border-radius:4px;-moz-border-radius:4px;-o-border-radious:4px;-webkit-border-radius:4px;-ms-border-radius:4px;box-shadow:0 0 4px #000;-moz-box-shadow:0 0 4px #000;-o-box-shadow:0 0 4px #000;-webkit-box-shadow:0 0 4px #000;-ms-box-shadow:0 0 4px #000;background-color:#fff;overflow:hidden;}
.box.half{width:310px}
.box.wide{width:680px}
.box.full{width:920px}
form.styled{float:left;width:100%;}
form.styled .field{float:left;width:100%;margin-bottom:20px;}
form.styled .field:last-child{margin-bottom:0}
form.styled label{width:100%;padding-bottom:4px;display:block}
form.styled input[type="text"],form.styled input[type="password"],form.styled textarea{width:100%;padding:4px;border:1px solid #8b8b8b;border-radius:4px;-moz-border-radius:4px;-o-border-radious:4px;-webkit-border-radius:4px;-ms-border-radius:4px;box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-shadow:0 0 1px 1px #fff inset , 0 0 3px rgba(0,0,0,0.30);-moz-box-shadow:0 0 1px 1px #fff inset , 0 0 3px rgba(0,0,0,0.30);-o-box-shadow:0 0 1px 1px #fff inset , 0 0 3px rgba(0,0,0,0.30);-webkit-box-shadow:0 0 1px 1px #fff inset , 0 0 3px rgba(0,0,0,0.30);-ms-box-shadow:0 0 1px 1px #fff inset , 0 0 3px rgba(0,0,0,0.30);background:url("input_bg.png") repeat-x left top #f5f5f5;font-family:arial,helvetica,sans-serif;}
form.styled input[type="text"]:focus,form.styled input[type="password"]:focus,form.styled textarea:focus{border-color:#069;box-shadow:0 0 1px 1px #fff inset , 0 0 3px #069;-moz-box-shadow:0 0 1px 1px #fff inset , 0 0 3px #069;-o-box-shadow:0 0 1px 1px #fff inset , 0 0 3px #069;-webkit-box-shadow:0 0 1px 1px #fff inset , 0 0 3px #069;-ms-box-shadow:0 0 1px 1px #fff inset , 0 0 3px #069;outline:none}
form.styled button,form.styled a.button{font-size:14px;font-weight:bold;background:url("button_bg.png") repeat-x left bottom #e7e7e7;border:none;padding:6px 16px;text-shadow:0 0 1px #fff;-moz-text-shadow:0 0 1px #fff;-o-text-shadow:0 0 1px #fff;-webkit-text-shadow:0 0 1px #fff;-ms-text-shadow:0 0 1px #fff;border-radius:4px;-moz-border-radius:4px;-o-border-radious:4px;-webkit-border-radius:4px;-ms-border-radius:4px;box-shadow:0 0 1px 1px #fff inset;-moz-box-shadow:0 0 1px 1px #fff inset;-o-box-shadow:0 0 1px 1px #fff inset;-webkit-box-shadow:0 0 1px 1px #fff inset;-ms-box-shadow:0 0 1px 1px #fff inset;border-bottom:1px solid #898989;border-right:1px solid #898989;display:inline-block;color:#000;text-decoration:none;}
form.styled button.plain,form.styled a.button.plain{background:#e7e7e7;border:none;font-weight:normal;box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;-webkit-box-shadow:none;-ms-box-shadow:none;border-bottom:1px solid #e7e7e7;border-right:1px solid #e7e7e7}
form.styled button:active,form.styled a.button:active{color:#000;border:none;border-top:1px solid #898989;border-left:1px solid #898989;background:url("input_bg.png") repeat-x left top #f5f5f5;outline:none}
form.styled a.button{padding:7px 16px}
#login,#forgot_password,#register{margin-top:40px;}
#login .field.cancel,#forgot_password .field.cancel,#register .field.cancel,#login .field.forgot_password,#forgot_password .field.forgot_password,#register .field.forgot_password{margin-bottom:0;float:left;width:58%}
#login .field.button,#forgot_password .field.button,#register .field.button{float:right;width:40%;}
#login .field.button button,#forgot_password .field.button button,#register .field.button button{float:right}
